<% provide(:title, "Kokoitaについて") %>
<div class="about mt-md-5 pt-md-5">
  <div class="container pt-5 mt-5">
    <p>Kokoitaは誰でも簡単に見つけた生き物を共有・検索できるサービスです。</p>
    <p>探している生き物がどこにいるのか調べるためにいくつものWebサイトを検索して回らなければならない手間の省略や、</p>
    <p>速報性をもって危険生物の発見情報などを共有できれば良いなと思いこのサービスを開発しました。</p>
    <p>PC、タブレット、そしてスマートフォンからもご利用いただけるので、ぜひ、あなたが見つけた生き物の「ここにいた！」をみんなに伝えてください！</p>
  </div>
</div>
