<% provide(:title, 'コンタクト') %>
<div class="contact mt-md-5 pt-md-5">
  <div class="container mt-5 pt-5">
    <p>お問い合わせ、サービスの改善点などありましたら以下のメールアドレスまでご連絡いただけますと幸いです。</p>
    <p>メールアドレス : liv.knk@gmail.com </p>
  </div>
</div>