<div class="top top-image">

  <div class="container text-center">

    <h1 class="display-1">Kokoita</h1>

    <h2>身近にいる「可愛い！」「珍しい！」「危ない！」生き物たち。<br>
        そんな生き物たちの「ここにいた！」をみんなに伝えよう。
    </h2>

  </div>

</div>

