<div class="home">

  <div class="top">
    <div class="container text-center">
      <h1>Kokoita</h1>
      <h2>あなたが出会った生き物の「ここにいた」をみんなに伝えよう!</h2>
    </div>
  </div>

  <div class="post-area pt-5">
    <div class="container">
      <h2 class="text-center pb-1">新着記事</h2>
      <ol class="posts pl-5">
        <%= render @posts %>
      </ol>
    </div>
  </div>

</div>

