@import "bootstrap";

/* mixins, variables, etc. */
body {
  font-family: 'Kosugi Maru', sans-serif;
  color: #c1994d;
  background-color: #f1e2be;
}
.must {
  color: red;
}
.link-to {
  color: #c1994d;
  &:hover {
    text-decoration: none;
  }
}
.alert {
  margin-top: 70px;
}

/* universal */

/* typography */

/* header */
header {
  .navbar {
    opacity: 1;
    background-color: #c1994d;
    font-family: 'Kosugi Maru', sans-serif;
  }
  .navbar-brand {
    font-family: 'Alfa Slab One', cursive;
  }
}

/* footer */
footer {
  .navbar {
    opacity: 1;
  }
}

/*top page */
.home {

  .top {
    background-image: image-url('forest5.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 95vh;
    color: #f3eddf;
    h1 {
      padding-top: 200px;
      font-family: 'Alfa Slab One', cursive;
      font-size: 8rem;
    }
    h2{
      font-family: 'Noto Sans JP', sans-serif;
    }
  }


  .post-area {
    width: 100%;
    height: 200vh;
    background-color: #f1e2be;
    font-family: 'Kosugi Maru', sans-serif;
    .container {
      color: #c1994d;
      h2 {
        border-bottom: #c1994d 1px solid;
      }
      ol {
        list-style: none;
      }
    }
  }
}

/* serch */
.serch {
  background-color: #f1e2be;
  height: 100vh;
}

/* new post */
.new-post {
  background-color: #f1e2be;
  height: 100vh;
}

/* post-edit */
.post-edit {
  height: 110vh;
}

/* users-show */
.users-show {
  background-color: #f1e2be;
  ol {
    list-style: none;
  }
}

/* search */
.search {
  ol {
    list-style: none;
  }
}

/* search-result */
.search-result {
  ol {
    list-style: none;
  }
}

/* signup */
.signup {
  background-color: #f1e2be;
  height: 100vh;
}

/* signin */
.signin {
  background-color: #f1e2be;
  height: 100vh;
}

/* edit-user */
.edit-user {
  height: 125vh;
}