@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


/* mixins, variables, etc. */
html { 
  height: auto;
}
body {
  height: auto;
  font-family: 'Kosugi Maru', sans-serif;
  color: #c1994d;
  background-color: #f1e2be;
  /*padding-top: 70px;
  padding-bottom: 70px;*/
  li {
    list-style: none;
  }
}
.must {
  color: red;
}
.link-to {
  color: #c1994d;
  &:hover {
    text-decoration: none;
  }
}
.twitter-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.alert {
  margin-top: 56px;
}

/* pagination*/
.pagination {
  li {
    a {
      color: #c1994d;
      background-color: #f1e2be;
      padding: 0.5rem 0.8rem;
      margin: 0 0.5rem;
    }
  }
}
.pagination {
  .active {
    .page-link {
      background: #28A745;
      border-color: #28A745;
      border-radius: 50%;
    }
  }
}
.pagination {
  li {
    a {
      &:hover {
        border-radius: 50%;
        background: #28A745;
        opacity: 0.9;
      }
    }
  }
}
.page-item:last-child {
  .page-link {
    border-radius: 50%;
  }
}
.page-item:first-child {
  .page-link {
    border-radius: 50%;
  }
}
.pagination {
  justify-content: center;
}


/* universal */

/* typography */

/* header */
header {
  .navbar {
    opacity: 1;
    background-color: #c1994d;
    font-family: 'Kosugi Maru', sans-serif;
  }
  .navbar-brand {
    font-family: 'Alfa Slab One', cursive;
  }
}

/* footer */
footer {
  .navbar {
    opacity: 1;
  }
}

/*top page */
.home {

  .top {
    background-image: image-url('forest5.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 95vh;
    color: #f3eddf;
    h1 {
      font-size: 8rem;
      padding-top: 200px;
      font-family: 'Alfa Slab One', cursive;
    }
    h2 {
      font-family: 'Noto Sans JP', sans-serif;
    }
  }


  .post-area {
    width: 100%;
    background-color: #f1e2be;
    font-family: 'Kosugi Maru', sans-serif;
    .container {
      color: #c1994d;
      h2 {
        border-bottom: #c1994d 1px solid;
      }
      ol {
        list-style: none;
      }
    }
  }
  .ranking-area {
    h2 {
      border-bottom: #c1994d 1px solid;
    }
    #rank1 {
      display: block;
    }
    #rank2 {
      display: none;
    }
    #rank3 {
      display: none;
    }
    .result-rank {
      background-color: #f5efe1;
      padding-top: 2rem;
      padding-bottom: 1rem;
      width: 700px;
      margin: auto;
      text-align: center;
      p {
        margin-top: 1rem;
        .fas {
          margin-right: 0.5rem;
        }
      }
    }
  }
}

/* search */
.search {
  background-color: #f1e2be;
  height: auto;
}

/* new post */
.new-post {
  background-color: #f1e2be;
  height: auto;
  .image-preview {
    img {
      max-width: 200px;
      max-height: 150px;
    }
  }
}

/* post-edit */
.post-edit {
  height: 110vh;
}

/* users-show */
.users-show {
  background-color: #f1e2be;
  .user-picture {
    border-radius: 50%;
  }
  ol {
    list-style: none;
  }
}

/* search */
.search {
  ol {
    list-style: none;
  }
}

/* search-result */
.search-result {
  ol {
    list-style: none;
  }
}

/* signup */
.signup {
  background-color: #f1e2be;
  height: 100vh;
}

/* signin */
.signin {
  background-color: #f1e2be;
  height: 100vh;
}

/* edit-user */
.edit-user {
  height: 125vh;
}

/* detailed-post */
.detailed-post {
  height: auto;
  .detail {
    background-color: whitesmoke;
    color: #4d4d4d;
    .link-to {
      color: #4d4d4d;
    }
    .noimage {
      margin-left: 150px;
    }
  }
  .comments {
    background-color: rgb(240, 236, 236);
  }
  .user-comment{
    border-bottom: 1px solid #4d4d4d;
    border-top: 1px solid #4d4d4d;
  }
}

/* thumb-post */
.thumb-post {
  border-bottom: solid 1px;
}

/* レスポンシブ */
/* タブレット */

@media screen and (max-width: 768px) {
  /*ボディ*/
  /*body {
    padding-top: 56px;
    padding-bottom: 96px;
  }*/

  /*ホーム画面*/
  .home {
    .top {
      h1 {
        padding-top: 350px;
      }
    }
  }

  /* 新規投稿作成画面 */
  .new-post {
    background-color: #f1e2be;
    height: auto;
    .image-preview {
      img {
        max-width: 200px;
        max-height: 150px;
      }
    }
  }

  /*投稿詳細画面*/
  .detailed-post {
    height: auto;
    .detail {
      .noimage {
        margin-left: 0px;
      }
    }
  }

  /*画像のレスポンシブ化*/
  img {
  width:100%;
  max-width: 100%;
  height: auto;
  }

  /*ユーザ情報更新画面*/
  .edit-user {
    height: auto;
  }

  /*新規会員登録画面*/
  .signup {
    height: auto;
  }

  /*ログイン画面*/
  .signin {
    height: auto;
  }
}

@media screen and (max-width: 750px) {
  /* スマートフォン */
  /*画像のレスポンシブ化*/
  body {
    padding-top: 56px;
    padding-bottom: 96px;
  }
  img {
    width:100%;
    max-width: 100%;
    height: auto;
  }
  .alert {
    margin-top: 0px;
  }
  .home {
    .top {
      h1 {
        font-size: 5rem;
        padding-top: 250px;
      }
      h2 {
        font-size: 1.7rem
      }
    }
  }
  .post-area {
    padding-top: 2rem;
    h2 {
      padding-bottom: 0.5rem;
      margin-bottom: 2rem;
    }
  }
/* pagination*/
.pagination {
  li {
    a {
      color: #c1994d;
      background-color: #f1e2be;
      padding: 0;
      margin-right: 2px;
    }
  }
}
.pagination {
  .active {
    .page-link {
      background: #28A745;
      border-color: #28A745;
      border-radius: 0%;
      padding: 0 0.5px;
    }
  }
}
.pagination {
  li {
    a {
      &:hover {
        border-radius: 0%;
        background: #28A745;
        opacity: 0.9;
      }
    }
  }
}
.page-item:last-child {
  .page-link {
    border-radius: 0%;
  }
}
.page-item:first-child {
  .page-link {
    border-radius: 0%;
  }
}
.pagination {
  justify-content: center;
}

/*postarea*/
.post-area {
  .posts {
    ol {
      padding-left: 15px;
      padding-right: 15px;
      li {
        margin-bottom: 2rem;
      }
    }
  }
}
.thumb-post {
  border-bottom: none;
}
.post-content {
  h4 {
    margin-top: 0.5rem;
  }
}
/* detailed-post*/
.detailed-post {
  .detail {
    background-color: #f1e2be;
  }
  h1 {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.text-right {
  margin-top: 10px;
  padding-bottom: 30px;
}

/*users-show*/
.users-show {
  padding-top: 20px;
  h1 {
    margin-bottom: 0px;
  }
  .user-picture {
    border-radius: 50%;
    padding: 40px;
  }
  .update-btn {
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .thumb-post {
    margin-bottom: 30px;
  }
  .post-title {
    margin-top: 30px;
  }
  ol {
    padding-right: 30px;
    padding-left: 20px;
  }
  .post-btn {
    margin-left: 40px;
    margin-bottom: 40px;
  }
}
/*search*/
.search {
  .end-date {
    margin-left: 150px;
  }
  .search-btn {
    margin-left: 80px;
    margin-top: 20px;
  }
}

/*search-result*/
.search-result {
  ol {
    padding-right: 40px;
  }
  li {
    padding-bottom: 30px;
  }
}

/*new-post*/
.form_group {
  padding-top: 10px;
  padding-left: 10px;
}

/*signup*/
.signup {
  height: auto;
  .form-group {
    p {
      margin-top: 20px;
    }
  }
}

/*signin*/
.signin {
  height: auto;
}

/*edit-user*/
.edit-user {
  height: auto;
}

}