@import "bootstrap";

/* mixins, variables, etc. */

/* universal */

/* typography */

/* header */
header {
  .navbar {
    opacity: 0.9;
  }
}

/* footer */
footer {
  .navbar {
    opacity: 1;
  }
}

/*top page */
.top {
  color: white;
  h1 {
    padding-top: 300px;
  }
}
.top-image {
  width: 100vw;
  height: 100vh;
  background-image: image-url('5f516109.jpeg');
  background-size:cover;
  background-position: center;
}

/* new post */

/* users-show */
.users-show {
  ol {
    list-style: none;
  }
}

/* search */
.search {
  ol {
    list-style: none;
  }
}
