<footer>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <span class="navbar-text mr-auto small">Kokoita</span>
    <ul class="navbar-nav">
      <li class="nav-item"><%= link_to "Kokoitaについて", about_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "コンタクト", contact_path, class: "nav-link" %></li>
    </ul>
  </nav>
</footer>